
    <h4 class="latest-text w3_latest_text">Reset Password</h4>
<form action="/new-password" method="post">
  <input type="password" name="password" placeholder="Enter New Password" required="true">
  <input type="hidden" name="userId" value="<%= userId %>">
  <input type="hidden" name="passwordToken" value="<%= passwordToken %>">
  <input type="hidden" name="_csrf" value="<%= csrfToken %>">
  <input type="submit" value="Update Password">
</form>
